body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

nav {
  background: transparent;
  margin-bottom: -80px;
}

footer {
  background: transparent;
  margin-top: -24px;
}

main {
  position: relative;
  padding: 110px 0 80px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('imgs/background-img.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.img-logo {
  position: relative;
  margin: 0 auto;
  display: block;
  max-height: 80px;
}

.glass-card {
  background: linear-gradient(180deg, rgba(215, 239, 246, 0.8) 5.82%, rgba(203, 229, 253, 0) 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
}

.glass-card .card-body {
  padding: 20px 0px;
}

.glass-card h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: rgba(72, 167, 248, 0.63);
}

.glass-card button {
  background-color: #6EC2FB;
  border-radius: 48px;
  border: none;
}

.btn-voltar {
  background-color: #6EC2FB;
  border: none;
  text-decoration: none !important;
}

.glass-card *,
.input-group-lg>.form-control {
  font-size: 16px;
}

.glass-card p {
  color: rgba(9, 10, 10, 0.5);
  font-weight: 500;
} 

.glass-card a {
  text-decoration: underline;
}

.input-group-lg>.form-control {
  background: #FFFFFF;
  border: 1px solid #E3E5E6;
  border-radius: 8px;
}

.user-icon {
  height: 42px;
  width: 54px;
  padding: 6px !important;
}

.email-icon {
  height: 42px;
  width: 54px;
  padding: 6px !important;
}

.img-person-circle {
  width: 30%;
}

.container-product {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(0px 2px 24px #00000036);
}

.container-product h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: rgba(72, 167, 248, 0.63);
}

.container-product h6 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: rgba(72, 167, 248, 0.63);
  text-align: left;
}

.container-product p {
  font-size: 12px;
  color: rgba(9, 10, 10, 0.5);
  font-weight: 500;
  text-align: left;
}

footer {
  color: rgba(9, 10, 10, 0.5);
}

@media screen and (min-width: 768px) { 
  .img-logo {
    margin: 0;
  }
}

.p-error {
  color: red !important;
}