<% layout('../template/default') -%>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-7 mx-auto">
            <div class="card glass-card">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12 col-md-7 mx-auto d-flex flex-column">
                      <h1 class="text-center mb-4">
                        Cadastro
                      </h1>
                      <form class="d-flex flex-column" method="post" action="/cadastro">
                        <div class="input-group input-group-lg mb-3">
                          <input type="text" name="nome" class="form-control" placeholder="Nome" aria-label="nome"
                            aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                          <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome"
                            aria-label="sobrenome" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                          <input type="text" name="email" class="form-control" placeholder="E-mail" aria-label="email"
                            aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                          <input type="password" name="senha" class="form-control" placeholder="Senha"
                            aria-label="password" aria-describedby="basic-addon1">
                        </div>
                        <a type="submit" href="/login" class="rounded-pill btn btn-primary btn-lg mx-3 mb-3 no-text-decoration">
                          Cadastrar
                        </a>
                        <a href="/login" class="btn-voltar rounded-pill btn btn-primary btn-lg mx-3 mb-5">
                          Voltar
                        </a>

                        <% if(typeof error !=='undefined' && error) { %>
                          <p>
                            <%=error%>
                          </p>
                        <% } %>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>