<% layout('../template/default') -%>
<!-- <h1>Login</h1> -->

<% if(typeof error !== 'undefined' && error) { %>
<p>
    <%=error%>
</p>
<% } %>

<!-- <form method="post" action="/login">
    <input type="text" name="email"/><br/>
    <input type="password" name="senha"/><br/>
    <button type="submit">Login</button>
</form> -->

<!-- <p>
    <a href="/cadastro">Cadastrar</a> | <a href="/recuperar-senha">Recuperar Senha</a>
</p> -->