<% layout('../template/default') -%>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-7 mx-auto">
            <div class="glass-card">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12 col-md-7 mx-auto d-flex flex-column">
                      <div class="text-center mb-4">                        
                        <h1>
                          Recuperar Senha
                        </h1>
                        <p class="text-center">Para recuperar sua senha, por favor digite o e-mail cadastrado</p>
                      </div>
                      <form class="d-flex flex-column" method="post" action="/cadastro">
                        <div class="input-group input-group-lg mb-5">
                          <div class="input-group-prepend">
                            <img src="imgs/email-icon.svg" class="input-group-text email-icon"></img>
                          </div>
                          <input type="text" name="email" class="form-control" placeholder="digite seu e-mail" aria-label="email"
                            aria-describedby="basic-addon1">
                        </div>

                        <button type="submit" class="rounded-pill btn btn-primary btn-lg mb-4 justify-content-center">
                          Enviar
                        </button>

                        <% if(typeof error !=='undefined' && error) { %>
                          <p>
                            <%=error%>
                          </p>
                        <% } %>
                        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>