<% layout('../template/default') -%>
  <!-- <h1>Recuperar Senha</h1> -->

  <% if(typeof error !=='undefined' && error) { %>
    <p>
      <%=error%>
    </p>
    <% } %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-7 mx-auto">
            <div class="glass-card">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12 col-md-7 mx-auto d-flex flex-column">
                      <h1 class="text-center mb-4">
                        Recuperar Senha
                      </h1>
                      <form class="d-flex flex-column" method="post" action="/cadastro">
                        <div class="input-group input-group-lg mb-3">
                          <input type="text" name="email" class="form-control" placeholder="E-mail" aria-label="email"
                            aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                          <input type="password" name="senha" class="form-control" placeholder="Senha"
                            aria-label="password" aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" class="rounded-pill btn btn-primary btn-lg mx-3 mb-3">
                          Enviar
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>